html, body, #root {
  height: 100%;
  margin: 0;
  padding: -10;
}

body{
  background-image: url('night.jpg');
  background-color: black;
  background-size: 1100px;
  background-position: center;
  height: 90vh;
}

button{
  font-family: sans-serif;
  color: blue;
  font-size: 25px;
  padding: 5px 10px;
  background-color: white;
  border-radius: 10px;
}

.tab-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.tab-list {
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  display: flex;
  gap: 10px;
}

.tab-content {
  height: 90dvh;
  color: white;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}

.joke {
  color: black;
  font-size: 30px;
  padding: 10px;
  background-color: white;
}

.noJoke {
  color: black;
  font-size: 30px;
  margin-top: 10px;
  margin-left: 8px;
}

.fetch{
  font-family: sans-serif;
  font-size: 30px;
}

.add {
  padding: 10px;
  margin-right: 15px;
}

.inputs {
  display: flex;
  margin-bottom: 10px;
}
.inputs2 {
  display: flex;
  margin-bottom: 10px;
}